.lobby-container{  
    display: flex;
    background-image: url("../assets/night.png");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: #F1CA59;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.room-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  width: 900px;
  margin: 0 auto 40px auto;
  max-height: 400px;        /* ✅ 최대 높이 설정 */
  overflow-y: auto;         /* ✅ 세로 스크롤 가능하게 */
  padding-right: 8px;       /* 스크롤바와 겹치지 않게 여백 */
}

.create-btn {
  background-color: #f1ca59;
  font-size: 20px;
  padding: 14px 28px;
  border-radius: 10px;
  width: 200px;
  border: none;
  cursor: pointer;
  font-family: "Black And White Picture", cursive;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}
.create-btn:hover {
  background-color: #e0b84d;
}
