.makeroom-container{
    background-image: url("../assets/mainImage.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color:#F1CA59;
    text-align: center;
}
.makeroom-title{
    font-size: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 80px; 
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.makeroom-input-box{
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(245, 245, 245, 0.14); 
    border-color: #F1CA59;
    border-width: 1px;
    box-sizing: border-box;
}
.makeroom-input-title{
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
    text-align: left;
}
.error-text{
    color: #ff0000;
    font-size: 20px;
    margin-top: 5px;
}
.member-count{
    font-size: 30px;
    width: 40px;
    height: 40px;
}
.member-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.member-change-btn{
    width: 40px;
    height: 40px;
}
.makeroom-submit-btn{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: #F1CA59;
    color: black;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.makeroom-submit-btn:hover{
    background-color: #d4b34c;
}